@import "variables"; 
@import "debug";
@import "buttons";
@import "general";
@import "mixins";
@import "header";
@import "footer";

@import "sites/gallery";
@import "sites/about";
@import "sites/contact";
@import "sites/home";

// MEDIA QUERIES

@media ( max-width: $break-desktop-max ) {

.about-bg {
	padding-bottom: 50px;
}

.about-pic {
	float: none;
	display: block;
	margin: 20px auto;
	padding: 0;
}

.about-text {
	float: none;
	margin: auto;
	h2 {
		padding-bottom: 10px;
	}
	p {
		padding: 0;
		margin-bottom: 30px;
	}
}

}

@media ( max-width: $break-desktop ) {

	.menu-bar {
		.logo {
			position: relative;
			left: 10px;
		}
		h1 {
		}
	}

	.line {
		display: block;
	}
	
	.menu {
		position: fixed;
		z-index: 1;
		display: none;
		background: #fff;
		margin: auto;
		top: 80px;
		width: 100%;
		margin-top: 9px;
		text-align: center;
		li {
			line-height: 36px;
			display: block;
			height: 40px;
		}
		li:last-child {
			margin-bottom: 10px;
		}
		a {
			text-align: center;
			padding: 8px 12px;
		}
	}

	.social {
		position: absolute;
		left: 50%;
		width: 60%;
		margin: 0 auto;
		margin-left: -30%;
		display: none;
		float: none;
		list-style: none;
		text-align: center;
		margin-top: 21px;
	}
	.isOn {
		display: block;
	}
	
	.gallery-set {
		img {
			width:  47%;
			margin: 1.5%;
		}

	}	
	
	.ktn {
		padding-bottom: 20px;
		@include clearfix;
	}

	.ktn-left {
		width: 100%;
		h2, p, ul {
			padding: 10px 40px;
			text-align: left;
			width: 70%;
			float: left;
		}
		.hrs {
			position: relative;
			width: 20%;
			margin: 60px 0px;
		}
	}
	
	.ktn-right {
		margin-top: 20px;
		width: 100%;
		#name, #phone {
			width: 45%;
			margin: 2.5%;
			float: left;
		}
		#email {
			width: 95%;
			margin: 0 2.5%;
		}
		#textarea {
			width: 95%;
			margin: 2.5%;
		}
		.btn-form {
			display: block;
			width: 140px;
			margin: auto;
		}
	}
	
}


@media ( max-width: $break-tablet-max ) {

	.abt-text {
		max-width: 80%;
	}

	.about-text {
		font: none;
		width: 90%;
		margin-top: 5%;
	}
	
	.about-pic {
		margin-top: 50px;
	}
	
	.call {
		padding: 0;
		width: 90%;
		margin: auto;
		h2, p, a {
			margin: 40px 0;
		}
		a {
			background: $color-bg-main;
			color: $color-text-alt;
		}
		p {
			line-height: 22px;
		}
	}

	.main {
		li {
			border-radius: 10px;
			border: none;
				a{
					color: $color-text-main;
					border-radius: 10px;
					padding: 5px 12px;
					&:hover {
						background: $color-bg-main;
						color: $color-text-alt;
					}
				}
			}
		}
		hr {
			margin-top: 0;
			visibility: hidden;
		}
	

	.controls {
		padding-left: 0;
	}

	#overlay img {
		width: 100vh;
		height: auto;
	}

}

@media ( max-width: $break-tablet ) {

	.ktn-left {
		h2, p, ul {
			text-align: center;
		width: 100%;
		}
		.hrs {
			display: none;
		}
	}
	.ktn-right {
		#name, #phone {
			width: 95%;
			margin: 0 2.5%;
			display: block;
		}
		#phone {
			margin: 2.5%;
		}
	}
	.gallery-set {
		img {
			width:  90%;
			margin: 5%;
			margin-bottom: 0;
		}

	}
	
}

	@media ( max-width: $break-mobile-max ) {
	.main {
		a {
		font-size: 16px;
		}
	}
	
	}

	@media ( max-width: $break-mobile ) {

		.about-text {
			margin-top: 0;
			h2 {
				padding-top: 0;
				margin-top: 0;
			}
		}
		.about-pic {
			padding: 30px 0;
			margin: auto;
			display: block;
			width: 60%;
			border-radius: 40%/60%;
		}
	}

