.controls {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	list-style: none;
}

.controls li {
	float: none;
	display: inline-block;
}

.controls a {
	font-size: 22px;
	font-weight: 300;
	color: $color-text-main;
	padding: 5px 30px;
	padding-bottom: 0;
	line-height: 48px;
	display: block;
}

.main {
	background: lighten( $color-bg-main, 70%);
	h2 {
		text-align: center;
		margin-top: 80px;
	}
	li {
		border: 1px solid $color-bg-main;
		border-bottom: none;
		border-radius: 10px 10px 0px 0;
		background: lighten( $color-bg-main, 70%);
		&:hover {
			background: $color-bg-main;
			a{
				color: lighten( $color-bg-main, 70%)
			}
		}
		&.selected,
		&:focus {
				background: $color-bg-main;
				a{
					color: lighten( $color-bg-main, 70%)
				}
		}
	}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $color-bg-main;
		margin-top: -20px;
		padding: 0;
	}
}

.abt-gal {
	box-shadow: none;
}

.abt-img {
	max-width: 300px;
	height: auto;
	display: block;
	margin: 50px auto;
	border-radius: 50%;	
}

.abt-text {
	max-width: 760px;
	display: block;
	margin: 0 auto;
	text-align: center;
	line-height: 26px
}