h2.claim {
	font-size: 34px;
	text-align: center;
	margin: 50px 0;
	text-shadow: 1px 1px 0px #fff, 3px 3px 1px rgba(0,0,0,0.30);
	//text-shadow: 1px 2px 3py #fff, 1px 2px 3px lighten($color-text-main, 50%);
}

.about {
	text-align: center;
	@include clearfix;
}

.about-bg {
	color: $color-text-main;
	background: lighten( $color-bg-main, 70%);
}


.about-pic {
	padding: 30px 0;
	margin: 2%;
	float: left;
	width: 46%;
	border-radius: 40px/60px;
	
}

.about-text {
	float: left;
	width: 46%;
	margin-top: 5%;
	p {
		line-height: 22px;
		padding: 10px 0px 0px 40px;
		text-align: center;
		margin-bottom: 70px;
	}
	h2 {
		padding: 30px 0px;
		text-align: center;
	}
}
